<section id="container">
    <div class="image-container">
    <img src="{{movie.image}}">
    </div>
    <div class="text-container">
        <a href="/movies">Go back</a>
        <h1>{{movie.title}}</h1>
        <h2>{{movie.director}}</h2>
        <ul>
            <li>
                {{movie.star}}
            </li>
        </ul>
        <p>{{movie.description}}</p>
        <p>{{movie.showtimes}}</p>
    </div>
</section>